
.overlay-skin {
	position:absolute;
	top: 10px;
	left: 10px;
	right: 10px;
  bottom: 10px;
	background: url('../images/bg.gif');
	background-size: 3px;
}

.overlay-table-full {
  position:absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  width: 100%;
  min-width: 300px;
  height: 100%;
  margin: 0 auto;
}

marquee {
	position: absolute;
	bottom: 25px;
  left: 146px;
  max-width: 750px;
	background: rgba(0,0,0,0.5);
	margin: 0 auto;
  padding: 0;
  height: 56px;
  box-shadow: -15px 0 15px -15px inset;

  h3 {
    margin: auto;
    padding: 10px;
  }

}

// TITLEFLIP ANIMATION

body {
  margin: 0 auto;
  overflow: hidden;
  background: #000000;
}

.banner {
  position: absolute;
  margin: 0 auto;
  padding-left: 5px;
  height: 100px;
  overflow: hidden;
  width: 100%;

  img {
  	height: 100px;
  }

  ul, li {
    height: 100px;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  	
  li {
    list-style-type: none;
    margin: 0px 0 1px 0;
    height: 100px !important;
    padding: 0px 0 0px 0;
    width: 100%;
  }
}

.takeover {
  animation-name: titleflip;
  animation: titleflip 15s ease-in-out infinite;
  -webkit-animation-name: titleflip;
  -webkit-animation: titleflip 15s ease-in-out infinite;
}

@-webkit-keyframes titleflip {
  0%, 100% {
    -webkit-transform: translate(0px, -0px);
    -moz-transform: translate(0px, -0px);
  }
  50%,
  100% {
    -webkit-transform: translate(0px, -100px);
    -moz-transform: translate(0px, -100px);
  }		

  100%,
  0% {
    -webkit-transform: translate(0px, -0px);
    -moz-transform: translate(0px, -0px);
  }
}

